# Node dependencies
node_modules/
.yarn/
.yarn-cache/
.pnp.*
.pnp.js

# Cypress-related files
cypress/videos/
cypress/screenshots/
cypress/downloads/
cypress/reports/

# Build artifacts
dist/
build/

# IDE-specific files
.vscode/
.idea/
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
cypress.log

/cypress.env.json